@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WizzAir</h1>
</div>

<div class="row">
    <img src="https://www.logolynx.com/images/logolynx/9c/9cab8e0a835152ae1fd9a121403729d5.jpeg" width="1000" height="800" />
</div>